body {
    
    margin-top:10px;
   background-image:url("/ui/wall.jpg");
   
    background-size:100% 195%;
   background-repeat:no-repeat;
}





.center {
    text-align: center;
}

.text-big {
    font-size: 500%;
    font-family:ComicSansMs;
    color: #FFFFFF;
    
}
.text-big1 {
    font-size: 80%;
    font-family:Forte;
    font-style:italic;
    color: #FFFFFF;
    
}
.text-big2 {
    font-size: 30%;
    font-family:TimesNewRoman;
    font-style:normal;
    color: #FFFFFF;
    padding-bottom:40px;
    
}

.bold {
    font-weight: lighter;
}
.padding{
    
    padding-right:22px;
    
}

.img-medium {
    height: 100px;
    
}
.img{
    background-image:url("/ui/travel.gif");
    background-size:200% 195%;
    background-repeat:no-repeat;
}
.box1{
  width:47%;
  height:90%;
  float:left;
  text-align:center;
  background-color:lightblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  }
  
.box2{
  width:47%;
  height:90%;
  float:right;
  text-align:center;
  background-color: lightblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  }

.box3{
  width:100%;
  height:170%;
  border-radius:5px;
  float:right;
  text-align:center;
  background-color: lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  }
.box4{
  width:100%;
  height:170%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
 }
  .orient{
      vertical-align:middle;
    }
.container{
     width:15000px;
    position: fixed;
}


.button{
    background-color: #4CAF50;
    border: none;
    color:white;
    padding: 15px 12px;
    text-align:justify;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 27px 2px;
    cursor: pointer;
}

.end{
    text-align: center;
    padding-bottom: 20px;
    bottom: 0px; }

