

.circlebase{
    border-radius: 650px;
    
    }
.type1{
    width:400px;
    height:400px;
    background-image:url('/ui/me1.jpg');
    background-repeat:no-repeat;
}   
.text-big2 {
    font-size: 30%;
    font-family:TimesNewRoman;
    font-style:normal;
    color: #FFFFFF;
    padding-bottom:40px;
    
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.li{
    display:inline;
    float:right;
    
}
.lp{
    
    float:left;
}
.lp b{
    display:block;
    
}
.li a{
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.li a:hover {
    background-color:brown;
}



