body {
    
    background-image:url("/ui/home.gif");
    background-size:100% auto;
    background-size:cover;
   background-repeat:no-repeat;
   
}





.center {
    text-align: center;
}

.text-big {
    font-size: 500%;
    font-family:ComicSansMs;
    color: #FFFFFF;
    
}
.text-big1 {
    font-size: 80%;
    font-family:Forte;
    font-style:italic;
    color: #FFFFFF;
    
}
.text-big2 {
    font-size: 30%;
    font-family:TimesNewRoman;
    font-style:normal;
    color: #FFFFFF;
    padding-bottom:40px;
    
}

.bold {
    font-weight: lighter;
}
.padding{
    
    padding-right:22px;
    
}

.img-medium {
    height: 100px;
    
}
.img{
    background-image:url("/ui/travel.gif");
    background-size:200% 195%;
    background-repeat:no-repeat;
}
.box1{
  width:47%;
  height:90%;
  float:left;
  text-align:center;
  background-color:lightblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  }
  
.box2{
  width:47%;
  height:90%;
  float:right;
  text-align:center;
  background-color: lightblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  }
  .orient{
      vertical-align:middle;
    }
.circlebase{
    border-radius: 350px;
    
    }
.type1{
    width:400px;
    height:400px;
    background-image:url('/ui/me1.jpg');
    background-repeat:no-repeat;
}    



.button{
    background-color: #4CAF50;
    border: none;
    color:white;
    padding: 15px 12px;
    text-align:justify;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 27px 2px;
    cursor: pointer;
}

.end{
    background:brown;
    text-align: center;
    color:white;
    padding-bottom: 0px;
    bottom: 0px; }

footer{
    display:block;
     
}
