

.circlebase{
    border-radius: 650px;
    
    }
.type1{
    width:400px;
    height:400px;
    background-image:url('/ui/me1.jpg');
    background-repeat:no-repeat;
}   

.parallax {
     
    background-image: url("/ui/glass.gif");

     
    min-height: 500px;

     
    background-attachment: fixed;
    
    background-repeat: no-repeat;
    background-size: cover;
}
