body {
    font-family:ComicSansMs;
    color: #4CAF50;
    margin-top:20px;
   /*background-image:url("/ui/travel.gif");*/
   /* background-size:100% 195%;*/
   /* background-repeat:no-repeat;*/
}





.center {
    text-align: center;
}

.text-big {
    font-size: 500%;
    
}

.bold {
    font-weight: lighter;
}
.padding{
    padding-top:10px;
    
}

.img-medium {
    height: 100px;
    
}
.img{
    background-image:url("/ui/travel.gif");
    background-size:200% 195%;
    background-repeat:no-repeat;
}
.box1{
  width:50%;
  height:50%;
  float:left;
  background-color: lightblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  }
  
.box2{
  width:50%;
  height:50%;
  float:right;
  background-color: lightblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  }



  .orient{
      vertical-align:middle;
    }
.container{
     width:15000px;
    position: fixed;
}
/*.cat1 {*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    left: 0;*/
/*}*/

/*.cat2 {*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    right:5;*/
/*}*/


.button{
    background-color: #4CAF50;
    border: none;
    color:white;
    padding: 15px 12px;
    text-align:justify;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 27px 2px;
    cursor: pointer;
}

